%h1== Editing #{@content.title}

= error_messages_for @content

= form_for @content, :action => url(:content, @content) do
  = partial :form, :content => @content, :mode => "Update"

= link_to 'Show', url(:content, @content)
|
= link_to 'Back', url(:contents)